@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: #0d0d0d;
}

.poppins {
  font-family: var(--font-poppins);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  .red-button {
    background-color: #f54748;
    color: #0d0d0d;
    font-size: 18px;
    border-radius: 100px;
    width: 162px;
    height: 45px;
    font-weight: 500;
  }
  .container {
    max-width: 1300px;
    margin: 0 auto;
  }
  .mealCardStars img:nth-child(2),
  .mealCardStars img:nth-child(3) {
    margin-left: -1rem;
  }
  .yellowGradient {
    background: linear-gradient(rgba(255, 255, 255, 0), rgba(253, 197, 94, 0.1));
  }
}
